
{% extends 'homeApp/base/homeApp/base.html' %}
{% load static %}
{% block title %} Password Detail {% endblock %}

{% block content %}
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('images/hero_5.jpg');">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-6">
          <div class="post-entry text-center">
            <h1 class="mb-4">{{saint.name|safe}}</h1>
            <div class="post-meta align-items-center text-center">
              <figure class="author-figure mb-0 me-3 d-inline-block"><img src="{{saint.image.url}}" alt="Image" class="img-fluid"></figure>
              <span class="d-inline-block mt-1">{{saint.author|safe}}</span>
              <span>&nbsp;-&nbsp; Feast Day: ({{saint.feast_day|date:"l, d F Y"}})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">

      <div class="row blog-entries element-animate">

        <div class="col-md-12 col-lg-8 main-content mx-auto">

          <div class="post-content-body">
            
            
            <div class="row my-4">
              <div class="col-md-12 mb-4">
                <img src="{{saint.image.url}}" alt="{{saint.name|safe}}" class="img-fluid rounded">
                
              </div>
              <small class="mb-4">{{saint.name|safe}} | {{saint.updated_at|date:"l, d F Y"}}</small>
            </div>
            <hr>
            <h5>Feast Day: {{saint.feast_day|safe}}</h5>
            
            <hr>
            <h5>Biography</h5>
            <p>{{ saint.biography|safe }}</p>
          </div>


          
        </div>

        <!-- END main-content -->

        
      </div>
    </div>
  </section>
  <!-- Start posts-entry for saints -->
	
	<section class="section posts-entry posts-entry-sm bg-light">
		<div class="container">
			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">More Saints </h2>
				</div>
				<div class="col-sm-6 text-sm-end"><a href="" class="read-more">View All</a></div>
			</div>
			<div class="row">
				{% for foco in saints %}
				<div class="col-md-6 col-lg-3">
					<div class="blog-entry">
						<a href="{% url 'homeApp:saint_detail' foco.id %}" class="img-link">
							<img src="{{foco.ImageUrl}}" alt="Image" class="img-fluid">
						</a>
						<span class="date">{{ foco.updated_at |date }}</span>
						<h2><a href="{% url 'homeApp:saint_detail' foco.id %}">{{foco.name|safe}}</a></h2>
						<p>{{foco.description| truncatewords:30|safe}}</p>
						<!-- <p>{{foco.author|safe}}</p> -->
						<!-- <p>{{foco.created_at}}</p> -->
						<p><a href="{% url 'homeApp:saint_detail' foco.id %}" class="read-more">Continue Reading</a></p>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!-- End posts-entry -->

  <!-- entry for sacrament -->
  <section class="section posts-entry posts-entry-sm bg-light">
		<div class="container">
			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">Sacramentals </h2>
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url 'homeApp:sacrament' %}" class="read-more">View All</a></div>
			</div>
			<div class="row">
				{% for foco in sacraments %}
				<div class="col-md-6 col-lg-3">
					<div class="blog-entry">
						<a href="{% url 'homeApp:sacramental_detail' foco.id %}" class="img-link">
							<img src="{{foco.ImageUrl}}" alt="Image" class="img-fluid">
						</a>
						<span class="date">{{ foco.updated_at |date }}</span>
						<h2><a href="{% url 'homeApp:sacramental_detail' foco.id %}">{{foco.name|safe}}</a></h2>
						<p>{{foco.description| truncatewords:30|safe}}</p>
						<!-- <p>{{foco.author|safe}}</p> -->
						<!-- <p>{{foco.created_at}}</p> -->
						<p><a href="{% url 'homeApp:sacramental_detail' foco.id %}" class="read-more">Continue Reading</a></p>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
   <!-- end -->


  <!-- Start posts-entry -->
  <section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-uppercase text-black">Recent Blog Posts</div>
      </div>
      
      <div class="row">
        {% for blog in blogs %}
        <div class="col-md-6 col-lg-3">
          <div class="blog-entry">
            
            <a href="{% url 'blog_details' blog.id %}" class="img-link">
              <img src="{{blog.image.url}}" alt="Image" class="img-fluid">
            </a>
            <span class="date">{{blog.post_date|date}}</span>
            <h2><a href="{% url 'blog_details' blog.id %}">{{blog.title|safe}}</a></h2>
            <!-- <p>{{blog.post_body|truncatewords:20|safe}}</p> -->
            <p><a href="{% url 'blog_details' blog.id %}" class="read-more">Continue Reading</a></p>
            
          </div>
        </div>
        {% endfor %}
        
      </div>
      
    </div>
  </section>
  <!-- End posts-entry -->

  {% include 'blog/navigation/footer.html' %}
    <!-- Preloader -->
    {% include 'homeApp/base/homeApp/preload.html' %}

{% endblock %}