{% extends 'blog/navigation/main.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container col-md-8 col-sm-12 col-lg-8 mb-5">
    <div class=" mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            {% for about in about %}
            <div class="lead bg-info">{{about.title |safe}}
            </div>
            <div class="bg-dark text-white lead">
                {{about.description|safe}}
            </div>
            <div class="bg-dark text-danger lead">
            Contact: {{about.phone}}
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% include 'blog/navigation/footer.html' %}
{% endblock %}