{% extends 'blog/navigation/main.html' %}
{% load static %}
{% block title %}All Prayers{% endblock %}

{% block content %}
<div class="container">
    <!-- image -->
    <div class="row justify-content-center mx-3 bg-light">
        <h3 class="text-center lead pt-5">{{ all_prayers.title |safe}}</h3>
        <div class="card col-sm-4 col-md-4 col-lg-4 col-xl-4 mx-3 lead my-5 justify-content-center" style="width: 500px;">
          <!-- <div class="card text-center lead" style="width: 280px; "> -->
            <div class="card-img-bottom">
              <img class="card-img-bottom p-3 img-fluid img-thumbnail" src="{{all_prayers.image.url}}" style="width: 500px; height:auto">
            </div>
              
        
        <div class="card-footer justify-content-center align p-3 m-round">
          <p class="lead">{{all_prayers.intro|safe}}</p>
        </div>
        
    </div>
    <!-- end -->
    <!-- seaarch -->
<div class="mx-auto text-center pt-5">
  {% for message in messages %}
  <div class="text-danger">
      {{message}}
  </div>
  {% endfor %}
</div>
<!-- search form -->
<h5 class="text-center text-dark">Search Prayers</h5>
{% include 'blog/navigation/search.html' %}
{% if searches %}
{% for search in searches %}
<div class="py-5 my-5 bg-light">
  <div class="row justify-content-center">
    
    <div class="col-sm-8 col-md-6 col-lg-4 mx-2 my-2 p-3 bg-info shadow">
      <div class="text-center text-white bg-dark py-2">
        <h4>{{ search.title }}</h4>
      </div>
      <hr>
      <p class="lead">{{ search.description }}.</p>
      <hr>
      <a href="{% url 'all_prayers' %}" class="btn btn-primary">Back to Prayers</a>
    </div>
    
  </div>
</div>
{% endfor %}

{% endif %}
<!-- endsearch -->

    <p class="text-light lead text-center">Select a Prayer</p>
    
    <div class="row">
      {% for prayer in prayers %}
      <div class="col-md-4 col-sm-6 col-lg-3 mt-4">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white">
            {{ prayer.title|safe }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ prayer.description | truncatewords:50 |safe}}</p>
            <a href="{% url 'prayer_details' prayer.id %}" class="btn btn-primary">Lets pray</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 and not forloop.last %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include 'blog/navigation/footer.html' %}

  {% endblock %}