{% extends 'blog/navigation/email_base.html' %}

{% block content %}
  <div class= "container bg-dark">
      
      <div class="lead text-center text-white mx-5 p-5">
        
        <h2 class="text-info">Today's Passapaarola</h2>
        <h2 class="text-info">({{ dailypass.posted_date|date:"l, d F Y" }})</h2>
       
        <div class="col-md-6 mx-auto">
          <div class="lead text-center text-white mx-auto">
            <h2 class="text-info">{{ dailypass.title|safe }}</h2>
            
            <p class="text-center lead" style="font-size: 2rem; justify-content: center;">{{ dailypass.body|safe }}</p>
            <p>
        
          <div class="text-center mt-3 w-70 mx-auto">
            
            <small class="bg-light ">{{ dailypass.author|safe}} </small><br/>
            <small class="bg-light ">{{ dailypass.year|safe}} </small>
            <hr>
          </div>
        </div>
        <a class="btn btn-danger" href="">Unsubscribe</a>
          
  </div>
{% endblock %}