{% extends 'blog/navigation/main.html' %}
{% load crispy_forms_tags %}

{% block title %}Send password reset link{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 mx-auto p-5 bg-dark text-white">
        <div class="shadow shadow-responsive shadow-info ">
            <h4 class="text-center bg-info">Helo, {{ user }}</h4>
            <h5 class="text-center text-white">Welcome to Sacred Heart of Jesus and Immaculate Heart of Mary</h5>

            <h4 class="text-secondary text-center ">Change your password</h4>
            <div class="text-center text-info">
                <a  class="text-info" href="{% url 'change-password' %}">Change Password</a>
            </div>

        <div>
            {% if user.is_authenticated %}
                <a class="text-info" href="{% url 'authentications:logout' %}">Logout</a>
            
            {% else %}
                <a class="text-info" href="{% url 'authentications:loggin' %}">Login</a>
            {% endif %}
            <a class = "mx-4 text-info" href="{% url 'homeApp:index' %}">Home</a>
        </div>
            
            
            
        </div>
    </div>
</div>
{% include 'blog/navigation/footer.html' %}
{% endblock %}


