{% extends 'blog/navigation/email_base.html' %}

{% block content %}
  <div class= "container bg-dark">
      
      <div class="lead text-center text-white mx-auto">
        <h2 class="text-info">{{ message.title|safe }}</h2>
        <!-- <div class="col-md-6">
        
          <div class="text-center mt-3 w-70 mx-auto">
            <img class="img-thumbnail mx-auto d-block fw-bold" src="{{ message.news_img.url }}" alt="responsive" style="width: 200px; height: auto;">
            <small class="bg-light ">{{ message.title|safe}} | {{ message.date|date }}</small>
            <hr>
          </div>
        </div> -->
        <p class="text-justify lead">{{ message.letter|safe }}</p>
        <p>
          <!-- Unsubscribe form -->
          <a class="btn btn-danger" href="{% url 'unsub_confirmation' %}">Unsubscribe</a>
          
        </p>
        

  </div>
{% endblock %}