{% extends 'blog/navigation/main.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container col-md-10 col-sm-12 col-lg-6 mx-auto bg-dark text-white">
    <h2 class="text-center text-white">Post Todays Password</h2>
    <hr>

    <form method="post" enctype="multipart/form-data" class="col-md-6 mx-auto ">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Title:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="">Post Body:</label>
            {{ form.body }}
        </div>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Image:</label>
            {{ form.image }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id_for_label }}">Author:</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="{{ form.year.id_for_label }}">Year Posted:</label>
            {{ form.year }}
        </div>
        <br>
        <input type="submit" value="Post">
    </form>
    <br>
    <hr>
    <br>

    <a href="{% url 'dashbord' %}">Back to dashboard</a>
    <br>
    <hr>
    <br>
</div>
{% endblock %}
