{% extends 'blog/navigation/main.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block tag %}
<div class=" p-5">
    <div class="col-md-6 mx-auto p-5 bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                <li {% if massage.tags %} class="{{ message.tags }}"
                    {% endif %}> 
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method ="post" action="{% url 'authentications:loggin' %}" >
                {% csrf_token %}
                  <input class="form-control me-2 p-2"  name= "username" type="text" placeholder="Username" aria-label="Search" required>
                  
                  <input class="form-control me-2 pt-2 my-3"  name= "password" type="password" placeholder="Re-enter Passweord" aria-label="Search" required>
                  <br>
                  <button class="btn btn-outline-success" type="submit">Login</button>
                  <a class="p-2 text-info" href="{% url 'authentications:signup' %}">Dont have account? Signup!</a>
                  <a class="p-2 text-danger" href="{% url 'password_reset' %}">Forget Password?</a>
            </form>
            
        </div>
    </div>
</div>
{% include 'blog/navigation/footer.html' %}
{% endblock %}


