<div class="row mx-auto bg-light">
    {% for station in stations %}
    <div class="card col-sm-12 col-md-9 pt-5 col-lg-6 col-xl-4 mx-auto lead mb-3">
      <!-- <div class="card text-center lead" style="width: 280px; "> -->
        <div class="card-img-bottom">
    
          <img class="card-img-bottom img-fluid img-thumbnail" src="{{ station.stationimages.station_img.url }}" style="width: 400px; height:auto">
        </div>
        <div class="card-title">
          <h5 class="text-center">{{ station.letuspray.title|safe }}</h5>
          <hr>
        </div>
        <div class="card-text">
          <p>{{station.letuspray.heading | truncatewords:30|safe}}</p>
        </div>
      
        <div class="text-danger">{{ station.letuspray.we_ador|truncatewords:15|safe }}</div>
        <hr>
        <a href="{% url 'station_details' station.title %}"><div class="btn btn-secondary addtocart mb-3" type="submit">Go to station</div></a>
         
    </div>
    {% endfor %}

     
</div>
    