<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2" style="position: sticky; font-size: 0.8rem;;">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'homeApp:index' %}">Sacred Heart of Jesus...</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homeApp:index' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galary' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homeApp:all_blogs' %}">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homeApp:sacrament' %}">Sacramentals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homeApp:allsaints' %}">Saints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_prayers' %}">Prayers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'opening_prayer' %}">Stations of cross</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Older Version</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutView' %}">About us</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link bg-success text-white" href="{% url 'dashbord' %}">Hi, {{ user }}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashbord' %}" class="nav-link text-info">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentications:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item mb-3">
            <a class="nav-link bg-success text-white" href="{% url 'authentications:loggin' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-success text-white mx-2" href="{% url 'authentications:signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>
  <!-- for staff -->
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary pt-2" style="position: sticky; font-size: 0.8rem;;">
    <div class="container ">
      
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarScroll">
        
        <div class="d-flex">
          {% if user.is_staff %}
          <a href="{% url 'blog_post' %}" class="nav-link text-danger">New Blog</a>
          <a href="{% url 'dailyprayer' %}" class="nav-link text-danger">Daily Prayer</a>
          <a href="{% url 'newsletter' %}" class="nav-link text-danger">Send Letter</a>
          <a href="{% url 'create_novena' %}" class="nav-link text-danger">Create Novena</a>
          <!-- <a href="{% url 'dailypassword' %}" class="nav-link text-danger">Post pasword</a> -->
          <a href="{% url 'homeApp:contact' %}" class="nav-link text-danger">Contact</a>
          <a href="{% url 'homeApp:contact_messages' %}" class="nav-link text-danger">Messages<badge class="bg-dark text-white"> ({{count.count_msg}})</badge></a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </nav>