{% extends 'blog/navigation/main.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Page{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto p-5 bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            <h1 class="text-center mb-5 text-white">Reset Password</h1>
            
            <form method ="post" >
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    {{ field.label }}

                    {{ field }}<br><br>

                   <div class="text-danger">
                    {{ field.errors }}
                   </div>

                    {% endfor %}
                </div>
                <br>

                <button class="btn btn-outline-success" type="submit">Reset</button>
                <!-- {{ form.as_p }}
                <a href="{% url 'home' %}">Back</a>
                  
                  <button class="btn btn-outline-success" type="submit">Submit</button> -->
                  
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

