
{% extends 'blog/navigation/main.html' %}
{% load crispy_forms_tags %}

{% block title %}Password reset complet{% endblock %}
    
    {% block content %}
    <div class=" p-5">
        <div class="col-md-6 mx-auto p-5 bg-dark text-white p-5">
            <div class="shadow shadow-responsive shadow-info text-white">
                
                <h2 class="text-center text-white">Password Changed</h2>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'authentications:logout' %}">Logout</a> 
                
                
            </div>
        </div>
    </div>
    {% endblock %}
    
