{% extends 'blog/navigation/aboutMain.html' %}
{% load static %}

{% block content %}
<h2>Change password</h2>

{% extends 'blog/navigation/main.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change Form{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 mx-auto p-5 bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            
            <form method ="post" enctype="multipart/form-data" >
               <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                {{ field.label }}
                {{ field }}

               </div> 

                {% endfor %}
                <!-- {% csrf_token %}
                
                {{ form.as_p | crispy}}
                <a href="{% url 'home' %}">Back</a> -->
                  
                  <button class="btn btn-outline-success" type="submit">Login</button>
                  
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}