{% extends 'blog/navigation/main.html' %}
{% load crispy_forms_tags %}

{% block title %}Password reset complet{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white">
        <div class="shadow shadow-responsive shadow-info text-white">
            
            <h2>Reset Password</h2>
            <h3>Hurray! Your password has been changed.</h3>
            <a href="{% url 'authentications:loggin' %}">Click here to Login</a> 
            
            
        </div>
    </div>
</div>
{% endblock %}

